<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h2>Listado de Articulos Varios</h2>


    <img src="../../public/img/art.jpg">

    <h1><%= title %></h1>
    <p>Bienvenidos a <%= title %></p>

    
    <div class="varios-list">
        <div class="varios-card">
            <img src="/public/img/art.jpg" alt="Articulo 1">
            <h2>Nombre del articulo</h2>
            <p>Caracteristicas</p>
            <a href="#">Ver detalles</a>
        </div>

        <div class="movie-card">
            <img src="public/img/art.jpg" alt="Articulo">
            <h2>Articulo2</h2>
            <p>Caracteristicas...</p>
            <a href="#">Ver detalles</a>
        </div>

     
    </div>

    <p><a href="/plantas">Listado de Articulos Varios</a></p> 
</body>
</html>