<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Artículos</title>
    <link rel="stylesheet" href="../../public/css/variosstyle.css">
</head>
<body>
    <img src="../../public/img/art.jpg">

    <h1>LISTADO DE ARTICULOS: </h1>
    <br>

    <ul>
        <% plantarteList.map(function(plantas){ %>

            <li>
                <a href="../views/plantarteList.ejs"><%= plantas.planta %></a>
            </li>
        


        <% }) %>
    </ul>
    
    <a href="/">Home</a>
    
   
</body>
</html>